.profile__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
}
@media screen and (min-width: 550px) {
  .profile__column {
    flex-direction: row;
  }
}
@media screen and (min-width: 620px) {
  .profile__column {
    margin: 0;
  }
}
