.header {
  width: 100%;
  border-bottom: 1px solid #545454e0;
}
@media screen and (min-width: 768px) {
  .header {
    max-width: 680px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 890px) {
  .header {
    max-width: 780px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    max-width: 880px;
  }
}
