.card__button-heart {
  background-image: url(../../../images/heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  padding: 14px;
  border: none;
  width: 22px;
  height: 19px;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  cursor: pointer;
}
.card__button-heart:hover {
  opacity: 0.5;
}
